<!-- BEGIN NAVBAR MENU -->
<ul class="navbar-nav pt-lg-3">
	<li class="nav-item">
		<a class="nav-link" href="./">
			<span class="nav-link-icon d-md-none d-lg-inline-block"><IconHome/></span>
			<span class="nav-link-title"> Home </span>
		</a>
	</li>
</ul>
<!-- END NAVBAR MENU -->

@code {

}
