<div class="nav-item dropdown">
	<a href="#" class="nav-link d-flex lh-1 p-0 px-2" data-bs-toggle="dropdown" aria-label="Open user menu">
		<span class="avatar avatar-sm" style="background-image: url(./images/avatars/sarin-avatar.png)"> </span>
		<div class="d-none d-xl-block ps-2">
			<div>Sarin Na Wangkanai</div>
			<div class="mt-1 small text-secondary">Chief Architect</div>
		</div>
	</a>
	<div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
		<a href="#" class="dropdown-item">Status</a>
		<a href="./profile.html" class="dropdown-item">Profile</a>
		<div class="dropdown-divider"></div>
		<a href="./settings.html" class="dropdown-item">Settings</a>
		<a href="./sign-in.html" class="dropdown-item">Logout</a>
	</div>
</div>

@code {

}
