<header class="navbar navbar-expand-md d-none d-lg-flex d-print-none">
	<div class="container-xl">
		<HeaderToggler/>
		<div class="navbar-nav flex-row order-md-last">
			<div class="d-none d-md-flex">
				<HeaderTheme/>
				<div class="nav-item dropdown d-none d-md-flex">
					<HeaderNotification/>
				</div>
				<div class="nav-item dropdown d-none d-md-flex me-3">
					<HeaderApps/>
				</div>
			</div>
			<MainProfile/>
		</div>
		<div class="collapse navbar-collapse" id="navbar-menu">
			<HeaderMenu/>
		</div>
	</div>
</header>

@code {

}
